RPC_URL_AUTHEO=https://testnet.autheo.com/rpc
PRIVATE_KEY=0x_treasury_private_key
PRIVATE_KEY_PLAYER1=0x_player1_key
PRIVATE_KEY_PLAYER2=0x_player2_key
CX1_TOKEN_ADDRESS=0x_almt_kontrak_cx1
PORT=3000
ADMIN_API_KEY=supersecret
